<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>1847 Census Prototype</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

    <!-- Base URL -->
    <!-- <base href="https://kkxix.github.io/1847-census-prototype.github.io/"> -->
    <!-- <base href="/"> -->


    <!-- styles -->
    
    <!-- Mapbox and map style -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css' rel='stylesheet' />

    <!-- Custom style -->
    <link href="{{ 'assets/css/main.css' | relative_url }}" rel="stylesheet">

    <!-- Matomo -->
    <!-- TODO: Add Matomo script -->
  </head>