// global

html {
  height: 100%;
}

body {
  // font-family: $sans-serif;
  margin: 0;
  padding: 0;
}

p, ul, ol {
  max-width: map-get($grid-breakpoints,'md');
}

#index .row:first-of-type{
  margin-top: 2rem;
}

#index .lead p {
  // max-width: 60%;
  // min-width: 30%;
  background-color: rgba(255,255,255,.85);
  border-radius: 3px;
  padding: 1rem;
  margin-top: 2em;
}

body#index {
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 1.00)), url(../img/catherine-little-1847-african-american-census-philadelphia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  margin-left: 30px;
  margin-bottom: 100px;
}

#logo span {
  /* font-family: Filosofia; */
  color: $swat-red;
  margin-right: 30px;
  letter-spacing: 0.8px;
}

.fill-red-swat {
  fill: $swat-red;
}

.nav a {
  text-decoration: none;
  color: black;
}

a.selected {
  font-weight: bold;
}

a.navbar-brand {
  margin-left: 40px;
}

#title {
  // margin-bottom: 30px;
  // margin-left: 40px;
}

.description {
  margin-bottom: 100px;
}

.container {
  padding: 10px;
  // text-align: center;
}

#intro {
  margin: 30px 5px 50px 5px;
  /* color: grey; */
}

#oldweb, #oldweb2 {
  width: 100%;
  margin-bottom: 30px;
}

#chart {
  height: 350px;
  z-index: 900;
  // margin-left: 30px;
  // margin-right: 30px;
}

#chart3 {
  /* border: 1px solid pink; */
  height: 350px;
  margin-left: 30px;
  margin-right: 30px;
}

#p-filter-f, #p-filter-m {
  display: inline-block;
  margin-top: 10px;
}

#cat-filter {
  margin-top: 20px;
}

#null-jobs {
  float: right;
  height: 243px;
  width: 17%;
  margin-top: -352px;
  margin-right: 30px;
  background-color: #e0ecf4;
  opacity: 0.5;
  z-index: 900;
  padding-top: 15px;
}

#null-jobs span {
  color: black;
  // font-size: 11px;
  font-weight: bold;
}

.graph-title {
  text-align: center;
  display: inline-block;
  // font-size: 14px;
}

.breadcrumb {
  background-color: white;
  padding-left: 0;
}

.breadcrumb a {
  color: black;
}

.breadcrumb-item.active {
  color: $swat-red;
}

.intro h2 {
  margin-left: 70px;
  margin-right: 70px;
}

.intro p {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 50px;
}

.intro a {
  margin-left: 80px;
  margin-top: -30px;
  margin-bottom: 40px;
}

// .btn.top {
//   float: right;
//   margin-right: 180px;
//   margin-top: -210px;
// }

// #b1 {
//   margin-top: -160px;
// }

// #occupation2, #occupation {
//   margin-bottom: 150px;
// }

a.link {
  color: $swat-red;
}

#occ {
  padding-left: 0;
  margin-bottom: 1rem;
  #inputGroupSelect04 {
    border: 1px solid black;
  }
}

#about h2 {
  text-align: left;
  margin-left: -2px;
}

.nav-link {
  margin-left: 20px;
}

// data table

th, td {
  border-right: 1px #ddd solid;
  font-size: $font-size-base * .75;
  padding-left: 1rem;
}
