
$font-family-base: "Larsseit", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$font-size-base: 1.1rem !default;
$line-height-base: 1.25 !default;
$swat-red: #dc3545;

$link-color: darken($swat-red, 10%) !default;
$link-hover-color: lighten($swat-red, 5%) !default;
$link-decoration: underline;

$navbar-light-color:                rgba(0,0,0, .8) !default;
$navbar-light-hover-color:          rgba(0,0,0, .85) !default;
