
$font-family-base: "Larsseit", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$font-size-base: 1.1rem !default;
$line-height-base: 1.25 !default;
$swat-red: #dc3545;
