<!DOCTYPE html>
<html lang="en">

{% include head.html %}

{% include header.html %}


  <body {% if page.id %}id="{{ page.id }}"{% endif %}>

    <div class="container">
    <!--Add breadcrumb-->
    {% unless page.title == "Home" %}
    <div class="row">
    <nav aria-label="breadcrumb" class="b">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
    </nav>
    </div>
    {% endunless %}


    {{ content }}

    </div>
    </div>

  </body>

{% include footer.html %}

</html>
